@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 128px;
    color: aliceblue;
}

.text {

    background: linear-gradient(270deg, #BFF0FF 11.87%, #82B4FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    padding-top: 5cm;
}

.image {

    padding-top: 10%;
    padding-left: 3%;
    width: 400px;
    height: 300px;

}


.text1 {

    background: linear-gradient(270deg, #BFF0FF 11.87%, #82B4FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    justify-content: center;
    align-items: center;
    display: flex;

    margin-left: 10em;
    font-size: 40px;
    font-weight: 700;
}

.heading{
    color: white;
}

.title{
    color: white;
}

.icons {
    width: 50em;
    display: flex;
    justify-content: space-between;
}

i {
    color: white;
    display: inline-block;
}